# Function

In [1]:
names = ['Peter', 'Tom', 'Cindy', 'Grace', 'Emily', 'Joy', 'Lina', 'Andrew', 'Derek']

In [2]:
print('Hi, my name is Peter')
print('Hi, my name is Tom')
print('Hi, my name is Cindy')
print('Hi, my name is Grace')
print('Hi, my name is Emily')
print('Hi, my name is Lina')
print('Hi, my name is Andrew')
print('Hi, my name is Derek')

Hi, my name is Peter
Hi, my name is Tom
Hi, my name is Cindy
Hi, my name is Grace
Hi, my name is Emily
Hi, my name is Lina
Hi, my name is Andrew
Hi, my name is Derek

In [3]:
def introduce(name):
    print('Hi, my name is ' + name)

for name in names:
    introduce(name)

Hi, my name is Peter
Hi, my name is Tom
Hi, my name is Cindy
Hi, my name is Grace
Hi, my name is Emily
Hi, my name is Joy
Hi, my name is Lina
Hi, my name is Andrew
Hi, my name is Derek

# Class

In [4]:
import os
import numpy as np
import pandas as pd
import pickle as pk

## Case #1

In [5]:
names = ['Peter', 'Tom', 'Cindy', 'Grace', 'Emily', 'Joy', 'Lina', 'Andrew', 'Derek']

def introduce(name):
    print('Hi, my name is ' + name)

for name in names:
    introduce(name)

Hi, my name is Peter
Hi, my name is Tom
Hi, my name is Cindy
Hi, my name is Grace
Hi, my name is Emily
Hi, my name is Joy
Hi, my name is Lina
Hi, my name is Andrew
Hi, my name is Derek

In [7]:
class Person:
    def __init__(self, name):
        self.name = name
        
    def introduce(self):
        print('Hi, my name is ' + self.name)
        
fdir = 'data_person/'
for name in names:
    person = Person(name=name)
    fname = '{}.pk'.format(name)
    with open(os.path.join(fdir, fname), 'wb') as f:
        pk.dump(person, f)

## Case #2

In [6]:
fname = 'data_score.xlsx'
data = pd.read_excel(fname)

In [9]:
data

  Name  Math  Science  English
0   성현    36       26       43
1   세환    35       74       75
2   건우    74       15       12
3   정연    65       64       47

In [11]:
data[data['Name']=='세환']['Math']

1    35
Name: Math, dtype: int64

In [12]:
class Student:
    def __init__(self, name, math, science, english):
        self.name = name
        self.math = math
        self.science = science
        self.english = english
        
    def total(self):
        return np.sum((self.math, self.science, self.english))
    
    def mean(self):
        return np.mean((self.math, self.science, self.english))

In [13]:
fdir = 'data_score/'
for i in range(len(data)):
    name, math, science, english = data.iloc[i]
    student = Student(name=name, math=math, science=science, english=english)

    fname = '{}.pk'.format(name)
    fpath = os.path.join(fdir, fname)
    with open(fpath, 'wb') as f:
        pk.dump(student, f)

In [14]:
students = []
for fname in os.listdir(fdir):
    fpath = os.path.join(fdir, fname)
    with open(fpath, 'rb') as f:
        student = pk.load(f)
        
        print(student.name)
        print(student.total())
        print(student.mean())

정연
176
58.666666666666664
건우
101
33.666666666666664
성현
105
35.0
세환
184
61.333333333333336